.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 15px; 
  box-sizing: border-box;

}

.login-box {
  background: #D9D9D9;
  padding: 50px;
  border-radius: 8px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.login-title {
  color: black;
  font-size: 22px;
  font-weight: bold;
  text-align: left;
}

.login-underline {
  width: 25%;
  height: 3px;
  background: #ffb400;
  margin: 10px 0 20px;
  margin-left: 20px;
  margin-bottom: 50px;
}

.register-underline {
  width: 40%;
  height: 3px;
  background: #ffb400;
  margin: 10px 0 20px;
  margin-left: 22px;
  margin-bottom: 50px;
}

label {
  display: block;
  color: black;
  font-size: 16px;
  margin-top: 10px;
}

.register-name-fields {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 10px;
  width: 100%;
}

.name-fields .input-group {
  flex: 1;
}

form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background-color: #D9D9D9;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  box-sizing: border-box;
}

.forgot-password {
  text-align: right;
  margin-top: 5px;
}

.forgot-password a {
  color: #7B7E80;
  font-size: 14px;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.login-button {
  width: 100%;
  background: #ffb400;
  border: none;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.login-button:hover {
  background: #e6a200;
}

.login-via-text {
  color: black;
  font-size: 14px;
  font-weight: normal;
  margin-top: 20px;
}

.social-icons {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

.social-icons img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.register-text {
  margin-top: 20px;
  font-size: 14px;
  color: black;
}

.register-link {
  color: #ffb400;
  text-decoration: none;
  font-weight: bold;
}

.register-link:hover {
  text-decoration: underline;
}


@media (max-width: 1024px) {
  .login-box {
    padding: 40px;
    width: 90%; 
    max-width: 1000px;
    margin-bottom: 100px;
    margin-top: 100px;
  }

  .login-title {
    font-size: 20px;
  }

  .login-underline {
    width: 30%;
  }

  .register-underline {
    width: 55%;
  }

  .register-name-fields {
    flex-direction: column;
    gap: 10px;
  }

  .social-icons {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .login-box {
    padding: 30px;
    width: 100%;
    max-width: 650px; 
  }

  .login-title {
    font-size: 18px;
  }

  .login-underline {
    width: 30%;
  }

  .register-underline {
    width: 55%;
  }

  .register-name-fields {
    flex-direction: column;
    gap: 8px;
  }

  .social-icons {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .login-box {
    padding: 20px;
    width: 100%;
    max-width: 300px; 
    margin-bottom: 100px;
    margin-top: 100px;
  }

  .login-title {
    font-size: 16px;
  }

  .login-underline {
    width: 30%;
  }

  .register-underline {
    width: 55%;
  }

  .register-name-fields {
    flex-direction: column;
    gap: 8px;
  }

  input {
    padding: 12px;
  }

  .login-button {
    padding: 14px;
  }

  .social-icons img {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 375px) {
  .login-box {
    padding: 20px;
    width: 110%;
    max-width: 400px; 
    margin-top: 150px;
    
  }

  .login-title {
    font-size: 16px;
  }

  .login-underline {
    width: 30%;
  }

  .register-underline {
    width: 55%;
  }

  .register-name-fields {
    flex-direction: column;
    gap: 8px;
  }

  input {
    padding: 12px;
  }

  .login-button {
    padding: 14px;
  }

  .social-icons img {
    width: 35px;
    height: 35px;
  }
}
